
.audioContainer{
    width:100px;
    height:100px;
    background-color: rgb(37, 38, 48);
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right:calc(50% - 50px);

    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.audioContainer video{
    width:90px;
    height:90px;
    border-radius: 50%;
    z-index: 100;
}
.audioContainer video::-webkit-media-controls-panel {
    display: none!important;
    -webkit-appearance: none;
  }
  .audioContainer video::--webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none;
  }
  .audioContainer video::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
  }
@media screen and (max-width:1160px){
    .audioContainer{
        transform: scale(0.7);
    }
}

.first-section-quiz-container{
    width:100%;
    background-color: rgba(190, 173, 255, 0.1);
    height:300px;
    backdrop-filter: blur(15px);
    border-radius: 30px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-section-quiz-container-text{
    width:439px;
    font-family: "Orbitron", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.01em;
    text-align: center;
    color:white;
    
}
.first-section-quiz-container-button{
    height: 78px;
    width: 377px;
    font-family: "Gilroy-Light", sans-serif;
    font-size: 20px;
    font-weight: 400;
background-color: white;
border-radius: 50px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #6E31EF;
    text-align: center;
    line-height: 78px;
    text-decoration: none;
    margin-top: 25px; 
    transition-duration: 0.3s; 
}
.first-section-quiz-container-button:hover{
    box-shadow: 0px 0px 8px white, inset 0px 0px 8px white;
    transform: scale(1.05);
}
.first-section {
    width:100%;
    height:917px;
    display: flex;
    flex-direction: column;
    position:relative;
    z-index:1;
    &__upper-part {
        height:768px;
        width:100%;
        z-index:3;
        display: flex;
        flex-direction: column;
    }
    &__lower-part{
        border-top: 1px solid white;
    }
}

@media screen and (max-width:1160px){
    .first__section{
        height:769px;
    }
    .upper__part{
        height:641px;
    }
    .lower__part{
        height:128px;
    }
    .first__section__header_text1{
        width:475px;
        height:190px;
        font-size: 30px;
        line-height:38px;
        margin-top: 110px;
        margin-bottom: 30px;
    }
    .first__section__header_text2{
        font-size: 18px;
        line-height: 24px;
        width:492px;
        height:144px;
        margin-bottom: 35px;


    }
   

}
.first-section {
    width:100%;
    height:1217px;
    display: flex;
    flex-direction: column;
    position:relative;
    z-index:1;
    &__upper-part {
        height:1068px;
        width:100%;
        z-index:3;
        display: flex;
        flex-direction: column;
    }
    &__lower-part{
        
    }
}
.upper-part {
        &__header-container {
    
    }

    &__main {
        margin-top: 100px;
        height:968px;
    }
}
.header-container {
    display: flex;
    align-items: flex-start;
    height:100px;
    width:2000px;
    margin-left: -420px;
    position:absolute;
    position:fixed;
    // background-color: #1A1024;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    z-index: 10;
    &__header {
        width:1160px;
    }
}
.wrapper3 .swiper-wrapper{
    z-index: 0 !important;
}
.wrapper1 .swiper-wrapper{
    z-index: 0 !important;
}
.wrapper1 .swiper-pagination{
    z-index: 0 !important;
}
.header {
    width:1160px;
    height:100px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
    display: flex;
    align-items: center;

    &__logo {
        width:57px;
        height:46px;
        margin-right: 30px;
    }

    &__name {
        width:113px;
        height:21px;
        margin-right: 720px;
    }

    &__menu {
        width:185px;
        min-width:185px;
        height:245px;
        padding-top:80px;
        padding-right: 30px;
        background-color: rgba(190, 173, 255, 0.1);
        border-bottom-left-radius:30px ;
        border-bottom-right-radius:30px; ;
        margin-top: 143px;
        font-family: 'Gilroy-Light', sans-serif;
        font-size: 15px;
        color:rgba(243, 240, 255, 0.8);
        transition-duration: 0.2s;
    }
    &__menu_changed{
        width:63px;
        height:63px;
        min-width: 63px;
        top:15px;
        padding:0px;
        margin-top: 0px;
        margin-left: 120px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.menu {

    &__phoneLogo {
        display: none;
    }

    &__burger {
        display: none;
    }
    &__burger_changed{
        display: block;
        width:32px;
        
    }

    &__hypers {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
    }
    &__hypers__hide{
        display: none;
    }
    &__hypers a{
        outline: none;
        text-decoration: none;
        color: rgba(243, 240, 255, 0.8);
        font-size: 16px;
    }
}
.phoneLogo {

    &__logo {
    }

    &__name {
    }
}
.burger {

    &__burgerLine {
        display: flex;
    }
}
.main {
   
    &__sectionOne {
        font-size: 36px;
        font-family: 'Orbitron',sans-serif;
        margin-top: 180px;
        line-height: 45.16px;
        padding-left: 3px;
        font-weight: 700;
        margin-bottom: 47px;
        color: #F0F2FF;
        width:644px;
    }

    &__sectionTwo {
        font-family: 'Gilroy-Light', sans-serif;
        color: #D4C9FD;
        font-size: 20.2px;
        line-height: 26px;
        width:644px;
        padding-right: 35px;
    }
}
.fisrt-section {
    &__lower-part {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        width: 100%;
    height:150px;
    position:relative;
    overflow: hidden;
    }
}
.lower-part {
    &__slide-from-left {
        position: absolute;
        left: -500px;
        width: 652px;
        font-family: 'Gilroy-Light', sans-serif;
        font-size: 35px;
        color: rgba(240, 242, 255, 1);
        line-height: 95px;
        transition-duration: 1s;
    }
    &__slide-from-left-to-center {
        left: 15px;
      
    }
    &__slide-from-right {
        position: absolute;
        width: 900px;
        top: 53px;
        right:-1000px;
        font-family: 'Gilroy-Light', sans-serif;
        font-size: 35px;
        color: rgba(240, 242, 255, 1);
        transition-duration: 2s;
        line-height: 95px;
    }
    &__slide-from-right-to-center {
      right: 0px;
    }

    &__additional-phone-slide {
        display: none;
    }
}
@media screen and (max-width:1160px){
    .first-section-quiz-container{
        height:250px;
    }
    .first-section{
        height:1069px;
        &__upper-part {
            height:918px;
        }
    }
    .upper-part {

        
        &__header-container {
    
    }
}
.header-container {
    width:1200px;
    margin-left: -173px;
}
.header {
    width:854px;
    height:100px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
    display: flex;
    align-items: center;

    &__logo {
        width:57px;
        height:46px;
        margin-right: 30px;
    }
    &__name {
        margin-right: 420px;
    }
    &__menu_changed{
        width:63px;
        height:63px;
        min-width: 63px;
        top:15px;
        padding:0px;
        margin-top: 0px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.menu {

    &__phoneLogo {
        display: none;
    }

    &__burger {
        display: none;
    }
    &__burger_changed{
        display: block;
        width:32px;
    }
    &__hypers {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
    }
    &__hypers__hide{
        display: none;
    }
    &__hypers a{
        outline: none;
        text-decoration: none;
        color: rgba(243, 240, 255, 0.8);
        font-size: 16px;
        line-height: 1.5;
    }
}
.phoneLogo {

    &__logo {
    }

    &__name {
    }
}
.burger {

    &__burgerLine {
        display: flex;
    }
}
.main {

    &__sectionOne {
        margin-top: 100px;
    }

    &__sectionTwo {
      
    }
}
.fisrt-section {

    &__lower-part {
    }
}
.lower-part {

    &__slide-from-left {
        font-size: 25px;
        width:340px;
        left:-400px;
    }
    &__slide-from-left-to-center{
        left:15px;
    }

    &__slide-from-right {
        font-size: 25px;
        width:650px;
    }

    &__additional-phone-slide {
    }

    &__hyper-why-us {
    }
}
}
@media screen and (max-width:850px){
    .first-section-quiz-container{
        height:320px;
        margin-top: 20px;
    }
    .first-section-quiz-container-text{
        width:232px;
        font-size: 18px;
    }
    .visibleText{
display: none;
    }
    .first-section{
        height:1280px;
        &__upper-part {
            height:1086px;
        }
    }
    .upper-part {
        &__header-container {
    
    }

    &__main {
    }
}
.header-container {
    width:400px;
    margin-left: 0;
    &__header {
    }
}
.header {
    width:400px;
    height:100px;
    padding: 0px 15px 0px 15px;
    display: flex;
    align-items: center;
    position: relative;
    &__logo {
        width: 50px;
        height: 40px;
        margin-right: 16px;
    }

    &__name {
        width: 95px;
        height: 20px;
        margin-right: 130px;
    }

    &__menu {
        width:63px;
        height:63px;
        min-width: 63px;
        
        padding:0px;
        margin-top: 0px;
        margin-left: 0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    &__menu_mobile{
        height: 430px;
        width: 400px;
        min-width: 320px;
        border-radius: 30px;
        position: fixed;
        top:0px;
        margin:0 auto;
        margin-left: -18px;
        padding-top: 30px;
        background-color: rgba(190, 173, 255, 0.1);
        background-color: rgba(190, 173, 255, 0.1);
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
.menu {

    &__phoneLogo {
        display: none;
    }
    &__phoneLogo_opened{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    

    &__burger {
        display: block;
    }
    &__burger_changed{
        display: block;
        width:32px;
    }
    &__hypers {
        
        display: flex;
        flex-direction: column;
        align-items:center;
        display: none;
    }
    &__hypers_opened{
        display: flex;
    }
    &__closeArrow{
        width:20px;
        height:20px;
        margin-top: 70px;
        border-left: 2px solid white; 
        border-top: 2px solid white;
        transform: rotate(45deg);
        display: none;
    }
    &__closeArrow_opened{
        display: block;
    }
    &__hypers a{
        outline: none;
        text-decoration: none;
        color: rgba(243, 240, 255, 0.8);
        font-size: 22px;
    }
}
.phoneLogo {

    &__logo {
        height: 50px;
        width: 62px;
        margin-bottom: 11px;
    }

    &__name {
        width: 100px;
        height: 24px;
    }
}
.burger {

    &__burgerLine {
        display: flex;
    }
}
.main {

    &__sectionOne {
        width: 365px;
        height: 125px;
        font-size: 25px;
        line-height: 31px;
        margin-bottom: 20px;
        margin-top: 315px;
    }

    &__sectionTwo {
        font-size: 20px;
        line-height: 23px;
        width: 375px;
        height: 159px;
        margin-bottom: 20px;
        text-align: left;
        line-break: normal;
        word-break: keep-all;
        padding-left: 0px;
        padding-right: 0px;
}
}

.fisrt-section {

    &__lower-part {
    }
}
.lower-part {

    &__slide-from-left {
        font-size: 18px;
        line-height: 50px;
    }

    &__slide-from-right {
        font-size: 18px;
        width: 245px;
        height: 50px;
        overflow: hidden;
        line-height: 50px;
    }

    &__additional-phone-slide {
        display: block;
        width: 250px;
        height: 50px;
        position: absolute;
        top: 100px;
        left:-300px;
        font-family: "Gilroy-Light", sans-serif;
        font-size: 18px;
        color: rgb(240, 242, 255);
        line-height: 50px;
        transition-duration: 1.5s;
    }
    &__additional-phone-slide-to-center{
        left:10px;
    }

    &__hyper-why-us {
    }
}
}
form{
    position: relative;
}
.forUsers__hyper{
    margin-top: 300px;
    width:10px;
    height:10px;
}
.lightPaper__hyper{
    position: absolute;
    top: -95px;
}
.faq__hyper{
    position: absolute;
    top: -135px;
}
.contacts__hyper{
    position: absolute;
    top:-140px

}
.filter{
    backdrop-filter: none;
}