.second-section {
  padding-top: 145px;
  height: 2225px;
}
.second-section__cards-container {
  height: 470px;
}

.headers__header1 {
  font-family: "Orbitron", sans-serif;
  font-size: 34px;
}
.headers__header2 {
  font-family: "Orbitron", sans-serif;
  font-size: 75px;
  line-height: 95px;
  font-weight: 700;
  text-shadow: 0px 0px 10px white;
}

.wrapper3 {
  margin-left: -20px;
  max-width: 640px;
  width: 640px;
  max-height: 360px;
  position: relative;
}

.wrapper3 .swipper-wrapper {
  max-width: 640px;
  max-height: 360px;
  width: 640px;
  height: 360px;
  position: relative;
}

.wrapper3 .swiper-slide {
  max-width: 600px;
  width: 600px;
  height: 360px;
  margin: 20px;
  line-height: 26px;
}

.wrapper3.div-slider2 {
  max-width: 587px;
  max-height: 610px;
  position: relative;
}

.wrapper3 .swiper-pagination-bullet-active {
  border: 1px solid white;
  box-shadow: 0px 0px 10px white, inset 0px 0px 5px white;
  background-color: inherit;
  color: rgb(255, 255, 255);
}

.wrapper3 .d-flex {
  display: flex;
  height: 23px;
  text-align: center;
  position: relative;
  margin-bottom: 12px;
}

.wrapper3 .d-flex p {
  font-size: 16px;
  height: 23px;
  width: 400px;
  line-height: 23px;
  margin: 0px;
  text-align: left;
  margin-left: 36.5px;
  font-family: "Gilroy-Light", sans-serif;
  font-weight: 400;
}

.wrapper3 .d-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 65px;
  position: relative;
}

.card-item {
  width: 600px;
  height: 360px;
  background-color: rgba(190, 173, 255, 0.1);
  margin-left: 30px;
  border-radius: 30px;
  padding-top: 83px;
  padding-left: 50px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.card-item__icon-and-paragraph {
  display: flex;
}
.card-item__text {
  margin-left: 75px;
  margin-top: 20px;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  max-width: 410px;
}

.icon-and-paragraph__icon {
  min-width: 50px;
  min-height: 50px;
  margin-right: 25px;
}
.icon-and-paragraph__paragraph {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  line-height: 25px;
  width: 350px;
}

.information-container {
  width: 1160px;
  height: 192px;
  display: flex;
  justify-content: flex-start;
  font-family: "Gilroy-Light", sans-serif;
  margin-top: 200px;
}
.information-container__item1 {
  background-color: rgba(190, 173, 255, 0.3);
  height: 94px;
  width: 330px;
  margin-right: 25px;
  margin-top: 49px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition-duration: 0.5s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.information-container__item1-opened {
  height: 325px;
}
.information-container__item2 {
  background-color: rgba(190, 173, 255, 0.3);
  width: 260px;
  margin-top: 49px;
  position: relative;
  height: 94px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition-duration: 0.5s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.information-container__item2-opened {
  height: 320px;
}
.information-container__item3-4 {
  width: 280px;
  height: 192px;
  padding-left: 30px;
  padding-right: 30px;
}
.information-container__item5 {
  height: 93px;
  width: 260px;
  border: 1px solid white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  border-radius: 40px;
  margin-top: 49px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.item1__paragraph {
  height: 42px;
  width: 196px;
  margin: 25px 0px 25px 0px;
  text-align: center;
  line-height: 22px;
  font-size: 18px;
  font-family: "Orbitron", sans-serif;
}
.item1__text {
  height: 0px;
  overflow: hidden;
  width: 234px;
  text-align: center;
  font-size: 14.6px;
  line-height: 18.56px;
  transition-duration: 0.5s;
  overflow-y: scroll;
}
.item1__text::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}
.item1__text::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px white;
}
.item1__text-opened {
  height: 190px;
}
.item1__circle {
  position: absolute;
  right: 18px;
  top: 41.5px;
}
.item1__line {
  position: absolute;
  right: -44px;
  top: 46.5px;
}
.item1__arrow {
  position: absolute;
  bottom: -5px;
  height: 25px;
  width: 25px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  transition-duration: 0s;
  z-index: 2;
}
.item1__arrow-opened {
  transform: rotate(135deg);
  bottom: 10px;
}

.item2__paragraph {
  height: 46px;
  width: 148px;
  margin: 25px 0px 25px 0px;
  text-align: center;
  line-height: 22px;
  font-size: 18px;
  font-family: "Orbitron", sans-serif;
}
.item2__text {
  height: 0px;
  width: 224px;
  font-size: 14.6px;
  text-align: center;
  line-height: 17.4px;
  overflow: hidden;
  transition-duration: 0.5s;
}
.item2__text-opened {
  height: 170px;
  overflow-y: scroll;
}
.item2__text::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}
.item2__text::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px white;
}
.item2__circle1 {
  position: absolute;
  right: 18px;
  top: 41.5px;
}
.item2__circle2 {
  position: absolute;
  left: 18px;
  top: 41.5px;
}
.item2__line1 {
  position: absolute;
  right: -50px;
  top: -10px;
}
.item2__line1-hidden {
  display: none;
}
.item2__line2 {
  position: absolute;
  right: -52px;
  top: 47px;
  transform: rotateX(180deg);
}
.item2__line2-opened {
  display: none;
}
.item2__arrow {
  position: absolute;
  bottom: -5px;
  height: 25px;
  width: 25px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  transition-duration: 0s;
  z-index: 2;
}
.item2__arrow-opened {
  transform: rotate(135deg);
  bottom: 10px;
}

.item3-4__item3 {
  height: 72px;
  width: 220px;
  border-radius: 40px;
  background-color: rgba(190, 173, 255, 0.3);
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition-duration: 0.5s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.item3-4__item3-opened {
  height: 310px;
  margin-top: -105px;
  margin-bottom: 18px;
}
.item3-4__item4 {
  height: 72px;
  width: 220px;
  border-radius: 40px;
  background-color: rgba(190, 173, 255, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition-duration: 1s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.item3-4__item4-opened {
  height: 325px;
}

.item3__paragraph {
  margin: 25px 0px 10px 0px;
  font-size: 18px;
  line-height: 22.57px;
  font-family: "Orbitron", sans-serif;
}
.item3__text {
  height: 0px;
  width: 192px;
  overflow: hidden;
  text-align: center;
  font-size: 14.6px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  transition-duration: 0.5s;
}
.item3__text-opened {
  height: 212px;
}
.item3__circle1 {
  position: absolute;
  right: 18px;
  top: 30.5px;
}
.item3__circle2 {
  position: absolute;
  left: 18px;
  top: 30.5px;
}
.item3__left-short-line1 {
  position: absolute;
  transform: rotateY(180deg);
  right: -49px;
  top: 39px;
}
.item3__right-long-line {
  position: absolute;
  right: -49px;
  top: 40px;
  display: none;
}
.item3__right-long-line-opened {
  display: block;
}
.item3__left-long-line {
  position: absolute;
  transform: rotateY(180deg);
  left: -49px;
  top: 40px;
  display: none;
}
.item3__left-long-line-opened {
  display: block;
}
.item3__arrow {
  position: absolute;
  bottom: -5px;
  height: 25px;
  width: 25px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  transition-duration: 0s;
  z-index: 2;
}
.item3__arrow-opened {
  transform: rotate(135deg);
  bottom: 10px;
}

.item4__paragraph {
  margin: 25px 0px 25px 0px;
  font-size: 18px;
  line-height: 22.57px;
  font-family: "Orbitron", sans-serif;
}
.item4__text {
  height: 0px;
  width: 179px;
  overflow: hidden;
  text-align: center;
  font-size: 14.6px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  transition-duration: 0.5s;
}
.item4__text-opened {
  height: 204px;
  overflow: scroll;
}
.item4__text::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}
.item4__text::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px white;
}
.item4__circle1 {
  position: absolute;
  right: 18px;
  top: 30.5px;
}
.item4__circle2 {
  position: absolute;
  left: 18px;
  top: 30.5px;
}
.item4__right-long-line {
  display: none;
  position: absolute;
  transform: rotateX(180deg);
  top: -126px;
  right: -50px;
}
.item4__right-long-line-opened {
  display: block;
}
.item4__left-long-line {
  display: none;
  position: absolute;
  top: -127px;
  left: -47px;
}
.item4__left-long-line-opened {
  display: block;
}
.item4__arrow {
  position: absolute;
  bottom: -5px;
  height: 25px;
  width: 25px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  transition-duration: 0s;
  z-index: 2;
}
.item4__arrow-opened {
  transform: rotate(135deg);
  bottom: 10px;
}

.item5__paragraph {
  height: 46px;
  width: 206px;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
.item5__circle {
  position: absolute;
  left: 18px;
  top: 41.5px;
}
.item5__left-short-line1 {
  position: absolute;
  transform: rotateY(180deg);
  left: -52px;
  top: -10px;
}
.item5__left-short-line1-closed {
  display: none;
}
.item5__left-short-line2 {
  position: absolute;
  top: 48px;
  left: -50px;
}
.item5__left-short-line2-closed {
  display: none;
}

.inDna-container {
  margin-top: 385px;
  width: 100%;
  height: 300px;
  display: flex;
}
.inDna-container__header {
  height: 285px;
  width: 188px;
  font-family: Orbitron;
  font-size: 75px;
  font-weight: 700;
  line-height: 95px;
  letter-spacing: 0em;
  text-align: left;
}

.wrapper1 {
  margin: 0 auto;
  height: 100px;
  width: 500px;
  margin-left: 140px;
  margin-top: 160px;
}

.swipper-wrapper {
  max-width: 469px;
  max-height: 53px;
}

.swiper-slide {
  max-width: 469px;
  max-height: 53px;
  margin: 0px;
  text-align: left;
  line-height: 53px;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.35);
  font-family: "Gilroy-Light", sans-serif;
}

.swiper-slide-active {
  color: rgb(255, 255, 255);
}

.div-slider {
  width: 469px;
  height: 53px;
  padding-left: 38px;
  position: relative;
}

.itemFrame {
  width: 469px;
  height: 53px;
  border-radius: 30px;
  border: 1px solid white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
}

.swiper-pagination {
  position: absolute;
  left: -78px;
}

#swiper-pagination {
  top: -25px;
}

.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  margin: 15px;
  border: 2px solid white;
  box-shadow: 0px 0px 10px white, inset 0px 0px 5px white;
  color: inherit;
}

.swiper-pagination-bullet-active {
  background-color: rgb(190, 188, 255);
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
}

#swiper-pagination_in_phone {
  display: none;
}

.containerScroll {
  width: 1440px;
  margin-left: -140px;
  height: 100px;
  padding-top: 20px;
  overflow: hidden;
  white-space: nowrap;
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
}

.scrolling {
  will-change: transform;
  font-size: 60px;
  -webkit-animation: marquee 5s linear infinite;
          animation: marquee 5s linear infinite;
  display: inline-block;
  padding-right: 10px;
}

.scrolling2 {
  will-change: transform;
  font-size: 60px;
  -webkit-animation: marquee 2s linear infinite;
          animation: marquee 2s linear infinite;
  display: inline-block;
  padding-right: 10px;
}

.d-flex-run {
  display: flex;
  font-size: 35px;
  font-family: "Gilroy-Light", sans-serif;
  font-weight: 400;
}

.d-flex-run img {
  margin: 0px 20px 0px 20px;
}

@-webkit-keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.information-container-phone {
  display: none;
}

@media screen and (max-width: 1160px) {
  .second-section {
    padding-top: 100px;
    height: 1700px;
  }
  .information-container {
    transform: scale(0.73);
    margin-left: -150px;
    margin-top: 0px;
  }
  .wrapper3 {
    transform: scale(0.9);
  }
  .inDna-container {
    margin-top: 200px;
  }
  .information-container-phone {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .wrapper3 {
    transform: scale(1);
    margin-left: 0px;
    max-width: 375px;
  }
  .wrapper3 .swiper-slide {
    max-width: 600px;
    width: 600px;
    height: 360px;
    margin: 0px;
    line-height: 26px;
  }
  #swiper-pagination_in_phone {
    display: flex;
    position: absolute;
    top: 435px;
    left: 30px;
  }
  .second-section {
    padding-top: 30px;
    height: 1653px;
  }
  .headers__header1 {
    font-size: 25px;
    margin-left: 30px;
  }
  .headers__header2 {
    margin-left: 7px;
    font-size: 37px;
    line-height: 38px;
    margin-bottom: 30px;
  }
  .card-item {
    width: 310px;
    height: 410px;
    background-color: rgba(190, 173, 255, 0.1);
    border-radius: 30px;
    padding-top: 60px;
    padding-left: 25px;
    transform: scale(1);
  }
  .card-item__icon-and-paragraph {
    display: flex;
    flex-direction: column;
  }
  .card-item__text {
    margin-left: 0px;
    margin-top: 15px;
    font-size: 18px;
    line-height: 21px;
    max-width: 260px;
  }
  .icon-and-paragraph__icon {
    min-width: 45px;
    min-height: 45px;
    margin-right: 0px;
    margin-bottom: 25px;
  }
  .icon-and-paragraph__paragraph {
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    line-height: 20px;
    width: 252px;
  }
  .information-container {
    display: none;
  }
  .information-container-phone {
    display: block;
  }
  .information-container-phone__item1 {
    height: 66px;
    width: 284px;
    background-color: rgba(190, 173, 255, 0.3);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    transition-duration: 0.5s;
    position: relative;
    margin: 0 auto;
    margin-bottom: 29px;
  }
  .information-container-phone__item1-opened {
    height: 207px;
  }
  .information-container-phone__item2 {
    height: 66px;
    width: 284px;
    background-color: rgba(190, 173, 255, 0.3);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    transition-duration: 0.5s;
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .information-container-phone__item2-opened {
    height: 191px;
  }
  .information-container-phone__item3-4 {
    width: 320px;
    height: 45px;
    position: relative;
    transition-duration: 0s;
    margin-left: 30px;
  }
  .information-container-phone__item3-4-opened {
    height: 241px;
  }
  .information-container-phone__item5 {
    box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
    height: 66px;
    width: 284px;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .item1__header {
    height: 34px;
    width: 170px;
    font-family: "Gilroy-Light", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 12px;
  }
  .item1__textPhone {
    font-family: "Gilroy-Light", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    min-height: 0px;
    height: 0px;
    transition-duration: 0.5s;
    width: 248px;
    overflow: hidden;
  }
  .item1__textPhone-opened {
    min-height: 128px;
  }
  .item1__arrow {
    position: absolute;
    top: 23px;
    right: 20px;
    height: 18px;
    width: 18px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(-45deg);
    transition-duration: 0s;
  }
  .item1__arrow-opened {
    transform: rotate(135deg);
    top: 33px;
  }
  .item1__circlePhone {
    position: absolute;
    bottom: -5px;
  }
  .item1__linePhone {
    position: absolute;
    bottom: -25px;
  }
  .item2__header {
    height: 34px;
    width: 108px;
    font-family: "Gilroy-Light", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 12px;
  }
  .item2__textPhone {
    font-family: "Gilroy-Light", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    min-height: 0px;
    height: 0px;
    transition-duration: 0.5s;
    height: 0px;
    width: 244px;
    overflow: hidden;
  }
  .item2__textPhone-opened {
    min-height: 112px;
    overflow-y: scroll;
  }
  .item2__textPhone::-webkit-scrollbar {
    width: 3px;
    height: 0px;
  }
  .item2__textPhone::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px white;
  }
  .item2__circle1Phone {
    position: absolute;
    top: -5px;
  }
  .item2__circle2Phone {
    position: absolute;
    bottom: -5px;
  }
  .item2__longLine-left {
    position: absolute;
    bottom: -105px;
    right: 143px;
    transform: rotateY(180deg);
    display: none;
  }
  .item2__longLine-left-opened {
    display: block;
  }
  .item2__longLine-right {
    position: absolute;
    bottom: -105px;
    right: 61px;
    display: none;
  }
  .item2__longLine-right-opened {
    display: block;
  }
  .item2__shortLine-left {
    position: absolute;
    bottom: -48px;
    left: 62px;
  }
  .item2__shortLine-left-opened {
    display: none;
  }
  .item2__shortLine-right {
    position: absolute;
    bottom: -49px;
    right: 65px;
  }
  .item2__shortLine-right-opened {
    display: none;
  }
  .item2__arrowPhone {
    position: absolute;
    top: 23px;
    right: 20px;
    height: 18px;
    width: 18px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(-45deg);
    transition-duration: 0s;
  }
  .item2__arrow-opened {
    transform: rotate(135deg);
    top: 33px;
  }
  .item3-4__item3Phone {
    height: 45px;
    width: 153px;
    border-radius: 30px;
    background-color: rgba(190, 173, 255, 0.3);
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    position: relative;
    position: absolute;
  }
  .item3-4__item3Phone-opened {
    margin-top: 56px;
    min-height: 186px;
    min-width: 320px;
  }
  .item3-4__item4Phone {
    padding-top: 15px;
    height: 45px;
    width: 153px;
    border-radius: 30px;
    background-color: rgba(190, 173, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: absolute;
    right: 0px;
  }
  .item3-4__item4Phone-opened {
    margin-top: 56px;
    min-height: 185px;
    min-width: 320px;
  }
  .item3__header {
    height: 17px;
    width: 99px;
    margin-left: -13px;
    font-family: "Gilroy-Light", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 10px;
  }
  .item3__textPhone {
    display: none;
    width: 289px;
    height: 0px;
    overflow: hidden;
    transition-duration: 0.3s;
    font-family: "Gilroy-Light", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
  }
  .item3__textPhone-opened {
    display: block;
    height: 128px;
  }
  .item3__arrowPhone {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 15px;
    width: 15px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(-45deg);
    transition-duration: 0s;
  }
  .item3__circlePhone1 {
    position: absolute;
    top: -5px;
  }
  .item3__circlePhone1-opened {
    right: 240px;
  }
  .item3__circlePhone2 {
    position: absolute;
    bottom: -5px;
    left: 70px;
  }
  .item3__circleAdditionPhone2 {
    position: absolute;
    bottom: -5px;
    left: 70px;
  }
  .item3__circleAdditionPhone2-opened {
    position: absolute;
    bottom: -5px;
    right: 70px;
    left: unset;
  }
  .item4__header {
    height: 17px;
    width: 93px;
    font-family: "Gilroy-Light", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 10px;
    margin-left: -13px;
  }
  .item4__textPhone {
    display: none;
    height: 0px;
    width: 277px;
    overflow: hidden;
    transition-duration: 0.5s;
    font-family: "Gilroy-Light", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
  }
  .item4__textPhone::-webkit-scrollbar {
    width: 3px;
    height: 0px;
  }
  .item4__textPhone::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px white;
  }
  .item4__textPhone-opened {
    display: block;
    height: 112px;
    overflow-y: scroll;
  }
  .item4__arrowPhone {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 15px;
    width: 15px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(-45deg);
    transition-duration: 0s;
  }
  .item4__circlePhone1 {
    position: absolute;
    top: -5px;
  }
  .item4__circlePhone1-opened {
    right: 75px;
  }
  .item4__circlePhone2 {
    position: absolute;
    bottom: -5px;
    right: 70px;
  }
  .item4__circleAdditionPhone2 {
    position: absolute;
    bottom: -5px;
    right: 70px;
  }
  .item4__circleAdditionPhone2-opened {
    position: absolute;
    bottom: -5px;
    left: 70px;
  }
  .item5__header {
    height: 34px;
    width: 130px;
    font-family: "Gilroy-Light", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 15px;
  }
  .item5__circle1 {
    position: absolute;
    top: -5px;
  }
  .item5__lineLeft {
    position: absolute;
    transform: rotateX(180deg);
    top: -53px;
    left: 59px;
  }
  .item5__lineRight {
    position: absolute;
    transform: rotateX(180deg);
    top: -54px;
    right: 62px;
  }
  .inDna-container {
    margin-top: 35px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
  }
  .inDna-container__header {
    height: 38px;
    width: 230px;
    font-family: Orbitron;
    font-size: 37px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 10px;
  }
  .wrapper1 {
    transform: scale(0.78);
    margin-left: -50px;
    margin-top: 115px;
  }
  #swiper-pagination {
    top: -140px;
    transform: rotate(90deg);
    left: unset;
    right: 70px;
  }
  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    margin-left: 15px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px white, inset 0px 0px 5px white;
    color: inherit;
    transform: scale(1.5);
  }
  .wrapper1 .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 13px) 0;
    display: block;
  }
  .containerScroll {
    margin-left: -530px;
    transform: scale(0.6);
  }
}/*# sourceMappingURL=second__section.css.map */