.footer {
  height: 555px;
  width: 100%;
  margin-top: 210px;
}
.footer__upper-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}
.footer__lower-part {
  display: flex;
}

.upper-part__SecondImg {
  margin-top: 20px;
}
.upper-part__text {
  margin-top: 30px;
  height: 23px;
  width: 234px;
  font-family: "Orbitron", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.lower-part__left {
  width: 33.33%;
}
.lower-part__center {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lower-part__right {
  width: 33.33%;
  padding-top: 65px;
}

.left__header {
  height: 25px;
  width: 133px;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 15px;
}
.left__text {
  height: 76px;
  width: 243px;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 45px;
}
.left__buttons {
  display: flex;
}

.buttons__buttonPlayMarket {
  height: 43px;
  width: 171px;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  margin-right: 5px;
}
.buttons__buttonAppStore {
  height: 43px;
  width: 171px;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  margin-right: 10px;
}

.buttonPlayMarket__img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.buttonPlayMarket__container {
  display: flex;
  flex-direction: column;
  font-family: "Gilroy-Light", sans-serif;
}

.buttonAppStore__container {
  display: flex;
  flex-direction: column;
  font-family: "Gilroy-Light", sans-serif;
}
.buttonAppStore__img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.container__text {
  font-size: 8px;
}
.container__spanText {
  font-size: 15px;
}

.center__location {
  margin-bottom: 25px;
}

.location__p1 {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}
.location__p2 {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 55px;
}
.location__sprites {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
}

.right__part1 {
  display: flex;
  margin-bottom: 50px;
  margin-left: 140px;
}
.right__part2 {
  display: flex;
  justify-content: flex-end;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(212, 201, 253, 0.6);
  text-decoration: none;
  width: 320px;
}

.part1__left {
  display: flex;
  flex-direction: column;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 45px;
}
.part1__left a {
  text-decoration: none;
  color: white;
}
.part1__right a {
  text-decoration: none;
  color: white;
}
.part1__right {
  display: flex;
  flex-direction: column;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.part2__left {
  text-decoration: none;
  color: rgba(212, 201, 253, 0.6);
  margin-right: 20px;
}
.part2__center {
  text-decoration: none;
  color: rgba(212, 201, 253, 0.6);
}
@media screen and (max-width: 1160px) {
  .buttonPlayMarket__img {
    margin-right: 5px;
  }
  .footer {
    height: 555px;
    width: 100%;
    margin-left: -19px;
    transform: scale(0.9);
  }
  .part1__right a {
    text-decoration: none;
    color: white;
  }
}
@media screen and (max-width: 850px) {
  .footer {
    height: 765px;
    width: 100%;
    margin-left: 0px;
    transform: scale(1);
    margin-top: 120px;
  }
  .footer__upper-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .footer__lower-part {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .upper-part__firstImg {
    height: 68px;
    width: 87px;
  }
  .upper-part__SecondImg {
    width: 89px;
    height: 20px;
    margin-top: 10px;
  }
  .upper-part__text {
    margin-top: 20px;
    font-size: 21px;
    width: 279px;
  }
  .lower-part__left {
    width: 100%;
    margin-bottom: 200px;
  }
  .lower-part__center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lower-part__right {
    width: 100%;
    padding-top: 10px;
    position: absolute;
    top: 160px;
    display: flex;
  }
  .left__header {
    height: 25px;
    width: 180px;
    font-family: "Orbitron", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
  }
  .left__text {
    height: 76px;
    width: 375px;
    font-family: "Gilroy-Light", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 45px;
    margin-top: 20px;
  }
  .left__buttons {
    display: none;
  }
  .right__part1 {
    display: flex;
    margin-bottom: 50px;
    margin-left: 5px;
    flex-direction: column;
  }
  .right__part2 {
    justify-content: flex-start;
    font-size: 18px;
    line-height: 21px;
    width: 175px;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 67px;
  }
  .part1__left {
    display: flex;
    flex-direction: column;
    font-family: "Gilroy-Light", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 45px;
    margin-bottom: 10px;
  }
  .part1__right {
    display: flex;
    flex-direction: column;
    font-family: "Gilroy-Light", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }
  .part1__right a {
    text-decoration: none;
    color: white;
  }
  .part2__left {
    text-decoration: none;
    color: rgba(212, 201, 253, 0.6);
  }
  .part2__center {
    text-decoration: none;
    color: rgba(212, 201, 253, 0.6);
  }
  .location__sprites {
    display: flex;
    width: 350px;
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=footer.css.map */